[Desktop Entry]
Categories=Utility;
Comment[en_US]=mouse & keyboard sharing via LAN
Comment[de_DE]=Maus- und Tastaturfreigabe über LAN
Exec=lan-mouse
Icon=mouse-icon.svg
Name[en_US]=Lan Mouse
Name[de_DE]=Lan Maus
Name=Lan Mouse
StartupNotify=true
Terminal=false
Type=Application
Version=0.3.3
